:root {
    --screen-width: 100vw; /* Initialize the variable with a default value */
  }
  
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    background: rgb(46, 46, 56);
    color: white;
    display: flex;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.readmorebutton {
    background-color: SlateGray;
    border: none;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 2px 1px;
    cursor: pointer;
}

.holder-of-the-divs {
    width: var(--screen-width);
    max-width: 1000px; /* Set a maximum width of 1000px */
}


/* Media query for smaller screens */
@media (max-width: 999px) { /* Adjust 600px to your needs */
    .alerts-container {
        max-width: 470px!important;
    }
     .holder-of-the-divs {
        width: var(--screen-width);
        max-width: 500px; /* Set a maximum width of 1000px */
    }
    .sensor-container{
    font-size: smaller;
    }
}
.delays-container {
    display: none;
    text-align: center;
    background-color: indianred;
}

.ground-stops {
    padding: 5px;
    display: none;
    text-align: center;
    background-color: indianred;
}

.crosswind-alert {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

.weather-alert {
    background-color: #ee6c00;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ffb627;
}

/* CSS styles for the radar grid */
.radar-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
}

.radar-grid img {
    object-fit: cover;
    max-width: 460px;
    max-height: 460px;
    object-fit: contain;
}

/* Media query for smaller screens */
@media (max-width: 999px) {
    .radar-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column */
        max-width: 470px; /* Adjust as needed */
    }
}

.meteos img {
    width:33%;
    transition: width 1.3s ease-in-out;
}

.meteos img:hover{
    width: 100%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 10px;
    max-width: 1057px;
    overflow: hidden;
}


.image-grid div {
    /* width: 480px;
            height: 360px; */
    overflow: hidden;
    margin: 10px;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(85 85 87);
}

.image-grid img {
    object-fit: cover;
    max-width: 460px;
    max-height: 460px;
    object-fit: contain;
}


.image-grid .caption {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    background-color: rgb(70 74 80 / 80%);
    width: 100%;
    font-weight: 100;
    color: white;
}

/* Media query for smaller screens */
@media (max-width: 999px) { /* Adjust 600px to your needs */
    .image-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column */
        max-width: 470px!important;
    }
}

.prompt-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.prompt-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.prompt-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* CSS for the loading message */
.loading {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

#clocks {
    font-size: 1.1em;
    vertical-align: middle;
    text-align: center;
}

.sensor-container {
    display: flex;
    /* use flexbox layout */
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sensor-box {
    width: 17%;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to bottom left, #33ad55, #03730c);
    color: white;

}


.sensor-box.IceWatch {
    background-color: red;
    color: white;
    background: repeating-linear-gradient(160deg, #f31515, #e95e5e 100px)
}

.forecast-container {
    display: flex;
    justify-content: space-between; /* Distributes items evenly */
    width: 80%;
    font-family: 'Poppins', 'Roboto', 'Open Sans', 'Segoe UI', 'Arial', sans-serif;
    color: #333; /* Dark color for text */
    margin-bottom: 10px;
    padding: 10px; /* Add some padding if needed */
    background-color: transparent; /* No background color here */
}

.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically */
    width: 18%; /* Adjust width to fit all items */
    background-color: #fff; /* White background for the cards */
    padding: 20px;
    border-radius: 15px; /* Rounded corners for the cards */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    margin: 5px; /* Spacing between cards */
}

.day {
    text-align: center;
    font-size: 1.5em; /* Larger text for the day */
    font-weight: 500; /* Adjust weight as needed */
    margin-bottom: 10px; /* Space between day and icon */
}

.weather-icon {
    width: 60px; /* Larger icon */
    height: 60px; /* Larger icon */
    margin-top: 10px; /* Adjust spacing as needed */
}

.high-low {
    font-size: 2em; /* Larger text for temperature */
    font-weight: 700; /* Bolder text for temperature */
    margin-top: 10px; /* Space between icon and temperature */
}


#weatherDataContainer {
    display: flex;
    /* use flexbox layout */
    width: 1020px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.weather-point {
    width: 17%;
    margin-right: 2%;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to bottom left, #33ad55, #03730c);
    color: white;

}

#ambientWeatherDataContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Display children in a column layout */
    align-items: center;
    background-color: #268ea3;    
    margin-bottom: 10px;
  }
  
/* Media query for smaller screens */
@media (max-width: 999px) { /* Adjust 999px to your needs */
    .forecast-container {
        flex-wrap: nowrap; /* Allows items to wrap to the next line */
        justify-content: center; /* Centers items when they wrap */
        padding: 5px; /* Reduce padding */
        width: 100%;
    }
    .forecast {
        width: 45%; /* Adjust width to have 2 items per row */
        margin: 5px; /* Adjust margins for spacing */
        padding: 15px; /* Reduce padding inside the cards */
    }
    .day, .high-low {
        font-size: 1em; /* Adjust font size down */
    }
    .weather-icon {
        width: 40px; /* Adjust icon size down */
        height: 40px; /* Adjust icon size down */
    }
    /* Your other elements' styles */
    p#windgusts {
        font-size: .9em;
    }
    p#feelslike-temperature {
        font-size: .9em;
    }
    p.wxelement {
        font-size: 12px;
    }

}


  .pws-box {
    display: flex; /* Display left and right boxes in a row */
    justify-content: space-between; /* Space between left and right boxes */
    color: white; /* Text color */
  }
  
  .pws-box-left,
  .pws-box-right {
    flex: 1; /* Equal width for both columns */
    padding: 10px; /* Padding for spacing */
    box-sizing: border-box; /* Include padding in the width calculation */
  }

  .wxelement {
    display: flex;
    align-items: center;
    font-size:20px;
    text-align: center;
  }

  p#feelslike-temperature {
    text-align: center;
}

p#windgusts {
    text-align: center;
}
  
  .wxelement img {
    width: 36px;
    margin-right: 10px; /* Add some space between the icon and text */
  }
  
img#uvimg {
    width: 50px;
}

  .wind.wxelement {
    height: 65px;
}

img#satellite {
    margin-bottom: -100px;
}

.wind-indicator-container {
    width: 45px;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    border-radius: 50%;
    background-color: #507595;
    margin-right: 5px;
}

.wind-arrow {
    width: 3px;
    height: 25px;
    background-color: white;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    /* Initial transform rotate, will be updated with JS */
    transform: translateX(-50%) rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

/* Add these styles to your existing CSS */
.weather-refresh {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); /* Background color for the timer */
    color: white; /* Text color for the timer */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners for the timer */
    margin-top: -20px;
    margin-bottom: 10px;
}

.last-refresh {
    font-size: 12px; /* Adjust font size as needed */
}
